header#banner.pint.hero-unit(layout="row", layout-xs="column")
  .container
    h1 Your time to Share!


div#pintBody(md-theme="default")
  div#pintSubmenu
  #pintContainer.container
    div#pintBody(layout="row", layout-xs="column")
      div#userStory(flex="25", flex-xs="100")
        h3 User Story
        div#divider
          ul
            li  As an unauthenticated user, I can login with Twitter.
            li  As an authenticated user, I can link to images.
            li  As an authenticated user, I can delete images that I've linked to.
            li  As an authenticated user, I can see a Pinterest-style wall of all the images I've linked to.
            li  As an unauthenticated user, I can browse other users' walls of images.
            li As an authenticated user, if I upload an image that is broken, it will be replaced by a placeholder image. (can use jQuery broken image detection)

      div#listPints(flex="75" layout="column", flex-xs="100")
        md-toolbar.md-menu-toolbar
          md-menu-bar
            md-menu
              md-button(ng-click="$mdOpenMenu()") Add Picture
              md-menu-content#pint
                md-menu-item
                  form(name="inputForm")
                    div(layout='column')
                      md-input-container
                        label url
                        input(type="url", name="url", ng-model="$ctrl.UrlToAdd", required)
                      div(ng-messages="inputForm.url.$error" ng-show="inputForm.url.$dirty")
                        div(ng-message="required") This is required!
                        div(ng-message="url") invalid url!
                      md-input-container
                        label Description
                        input(type="text",name="description", ng-model="$ctrl.DescToAdd", required)
                      div(ng-messages="inputForm.description.$error" ng-show="inputForm.description.$dirty")
                        div(ng-message="required") This is required!
                      md-button(ng-click="$ctrl.addPicture()" ng-disabled="!inputForm.$valid") Add
            md-button(ng-click="$ctrl.filterByActualUser()") My Picures
            md-button(ng-click="$ctrl.toggleAllImages()") All Picures
        ul.dynamic-grid(angular-grid="$ctrl.allPints", ag-grid-width="200", ag-gutter-size="10", ag-id="gallery" ag-refresh-on-img-load="false")
          li.grid(data-ng-repeat="pint in $ctrl.allPintsToShow")
            img.grid-img(ng-src="{{pint.imgUrl}}", data-actual-width = "100px" , data-actual-height="100px", title="Image Not Found")
            div.img-desc-wrap
              div.title
                h4 {{pint.desc}}
              md-divider
              div.owner(ng-click="$ctrl.filterFromId($index)")
                div(layout="row")
                  img.md-avatar(ng-src="{{pint.userImage}}")
                  span {{pint.userName}}
              md-divider
              div.uploadDate
                p Uploaded on: {{pint.date | date: 'MMM dd yyyy'}}
              md-divider
              section.action-wraper(layout="row" layout-sm="column" layout-align="center center" layout-wrap)
                md-button.likes(aria-label="likes", ng-click="$ctrl.vote($index)")
                  span()
                    i.fa.fa-thumbs-o-up.fa-fw &nbsp &nbsp
                      span {{pint.likes.length}}
                md-button.trash(aria-label="trash", ng-show="$ctrl.isOwner($index)", ng-click= "$ctrl.deletePint($index)")
                  span
                    i.fa.fa-trash.fa-fw



