$pintbackground: #29b6f6;
#banner.pint.hero-unit {
  border-bottom: none;
  margin-top: -20px;
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: $pintbackground;
  .container {
    h1 {
      margin-top: 0px;
      font-size: 60px;
      line-height: 1;
      letter-spacing: -1px;
    }
    span i {
      font-size: 2em;
    }
  }
}

md-menu-content#pint.md-menu-bar-menu {
  min-height: 300px;
}

div#pintBody {
  min-height: calc(100vh - 176px);
  //overflow-y: scroll;
  background-color: $pintbackground;
  color: #F5F5F5;
  h3 {
    padding-bottom: 10px;
  }
  md-toolbar.md-menu-toolbar {
    background-color: $pintbackground;
  }
  div#userStory {
    div#divider {
      border-right-width: 1px;
      border-right-color: #004eff;
      border-right-style: solid;
      padding-right: 10px;
    }
  }
  div#listPints {
    padding-left: 20px;
    .dynamic-grid {
      position: relative;
      display: none;
    }
    .dynamic-grid.angular-grid {
      display: block;
    }

    .owner{
      padding: 4px 4px;
      img{
        padding-right: 10px;
      }
    }
    .grid {
      color: black;
      position: absolute;
      list-style: none;
      background: #ffffff;
      ;
      box-sizing: border-box;
      -webkit-transition: all 400ms ease;
      transition: all 400ms ease;
      overflow: hidden;
      border-radius: 10px;
    }
    .ng-leave {
      -webkit-transition: all ease 400ms;
      transition: all ease 400ms;
      .ng-leave-active {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
      }
    }
    .ng-enter {
      -webkit-transition: all ease 400ms;
      transition: all ease 400ms;
      -webkit-transition-delay: 500ms;
      transition-delay: 500ms;
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      opacity: 0;
      .ng-enter-active {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
      }
    }
    .grid-img {
      width: 100%;
      vertical-align: middle;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
    }
    .grid-img.img-loaded {
      visibility: visible;
      opacity: 1;
    }
    .img-desc-wrap{
      padding-left: 10px;
    }
    .md-button.trash{
       max-width: 50%;
      margin-left: 0px;
      margin-right: 0px;
    }
     .md-button.likes{
         margin-left: 0px;
      margin-right: 0px;
       max-width: 50%;
      i {
        color: blue;
      }
    }
  }
}
