header#banner.pint.hero-unit(layout="row", layout-xs="column")
  .container
    h1 Your time to chare!
div#pintBody(md-theme="default")
  #pintContainer.container
    div#pintBody(layout="row", layout-xs="column")
      div#userStory(flex="25", flex-xs="100")
        h3 User Story
        div#divider
          ul
            li  As an unauthenticated user, I can login with Twitter.
            li  As an authenticated user, I can link to images.
            li  As an authenticated user, I can delete images that I've linked to.
            li  As an authenticated user, I can see a Pinterest-style wall of all the images I've linked to.
            li  As an unauthenticated user, I can browse other users' walls of images.
            li As an authenticated user, if I upload an image that is broken, it will be replaced by a placeholder image. (can use jQuery broken image detection)

      div#listImages(flex="75" layout="column", flex-xs="100")



