.container
 div(layout="column"  layout-align="end center")
      p
        | Develop by Jean Philip de Rogatis with a lot of
        i.fa.fa-coffee &nbsp; and &nbsp;
        i.fa.fa-music !
      p
        = ' | '
        a(href='mailto:jrogatis@metaconexao.com.br')
            i.fa.fa-envelope.fa-fw
        = ' | '
        a(href='https://github.com/jrogatis')
            i.fa.fa-github.fa-fw
        = ' | '
        a(href='https://br.linkedin.com/in/jrogatis')
            i.fa.fa-linkedin.fa-fw
        = ' | '
        a(href='http://codepen.io/jrogatis/')
            i.fa.fa-codepen.fa-fw
        = ' | '
        a(href='http://www.metaconexao.com.br/')
            i.fa.fa-wordpress.fa-fw
