header#banner.shelf.hero-unit(layout="row", layout-xs="column")
  .container
    h1 Books Trading Club!
    h3 Hy {{$ctrl.CurUser.name}} thats your shelf on our library!
    span
      i.fa.fa-book.fa-fw
div#shelfBodySup(layout="row", layout-xs="column", md-theme="default")
  #shelfContainer.container
    div#shelfBody(layout="row", layout-xs="column")
      div#pendingTranding.md-padding(flex="35", flex-xs="100")
        md-button.md-raised.md-primary(href='/books' ) All Books Shelf!
        v-accordion#accordionPendingTrades.vAccordion--default(control="accordionPendingTrades")
          v-pane(id="Offers")
            v-pane-header(id="Offers-header",  aria-controls="Offers-content")
              h4 Offers to you
            v-pane-content(id="Offers-content",  aria-labelledby="Offers-header")
              md-list
                md-list-item(ng-repeat="offer in $ctrl.userOffers")
                  md-content.md-padding( layout-xs="column," layout="row", flex )
                    div(flex-xs flex-gt-xs="100" layout="column")
                      md-card
                        div(flex-xs flex-gt-xs="100" layout="row")
                          md-card
                            md-card-title
                              md-card-title-media
                                div.md-media-xm.card-media.md-padding
                                  img(ng-src='{{offer.offerUrl}}', alt='{{offer.offerTitle}}')
                                md-card-title-text
                                   span.md-subhead {{offer.offerTitle}}
                          div#offersMiddle
                             span.glyphicon.glyphicon-hand-right
                          md-card
                            md-card-title
                              md-card-title-media
                                div.md-media-xm.card-media.md-padding
                                  img(ng-src='{{offer.requestedUrl}}')
                                md-card-title-text
                                   span.md-subheader {{offer.requestedTitle}}
                        md-card-actions(layout="row" layout-align="end center")
                          md-button.md-icon-button(aria-label='list' ng-click="$ctrl.acceptOffer($index)")
                             span.glyphicon.glyphicon-ok.pull-right
          v-pane(id="Requests")
            v-pane-header(id="Requests-header",  aria-controls="Requests-content")
              h4 Requests from you
            v-pane-content(id="Requests-content",  aria-labelledby="Requests-header")
              md-list
                md-list-item(ng-repeat="request in $ctrl.userRequests")
                  md-content.md-padding( layout-xs="column," layout="row", flex )
                    div(flex-xs flex-gt-xs="100" layout="column")
                      md-card
                        div(flex-xs flex-gt-xs="100" layout="row")
                          md-card
                            md-card-title
                              md-card-title-media
                                div.md-media-xm.card-media.md-padding
                                  img(ng-src='{{request.offerUrl}}', alt='{{request.offerTitle}}')
                                md-card-title-text
                                   span.md-subhead {{request.offerTitle}}
                          div#offersMiddle
                             span.glyphicon.glyphicon-hand-left
                          md-card
                            md-card-title
                              md-card-title-media
                                div.md-media-xm.card-media.md-padding
                                  img(ng-src='{{request.requestedUrl}}')
                                md-card-title-text
                                   span.md-subheader {{request.requestedTitle}}

      div#listUserBooks(flex="65" layout="column", flex-xs="100")
        form(layout layout-align="center")
          div(layout="row" flex)
            md-input-container.md-icon-float.md-block.md-title(flex)
              label.Search Whant to offer a Book ? (Search by Title)
              input(type="text", ng-model='$ctrl.titleToSearch' , ng-keypress ='$ctrl.CaptEnter($event)', aria-label='searchForm')
            div
              md-button.md-raised.md-default.md-primary.md-icon-button(ng-Click ='$ctrl.searchBook($event)', aria-label='searchForm')
                i.fa.fa-search.fa-fw
        div#currentUserBooks
          md-list
            md-list-item(ng-repeat='book in $ctrl.userRegistry.booksOwned')
              md-content.md-padding( layout-xs="column," layout="row", flex )
                div(flex-xs flex-gt-xs="100" layout="column")
                  md-card
                    md-card-title
                      md-card-title-media
                        div.md-media-lg.card-media.md-padding
                          img(ng-src='{{book.imgUrl}}')
                      md-card-title-text
                        span.md-headline {{book.title}}
                        span.md-subhead {{book.author}}
                    md-card-actions(layout="row" layout-align="end center")
                      md-button.md-icon-button.trash(aria-label='list' ng-click="$ctrl.deleteBook($index)")




script(type="text/ng-template" id="selectBock.tmpl.pug")
  md-dialog(aria-label="Search Books")
    form(ng-cloak)
      md-toolbar
        div.md-toolbar-tools
          h2 Select the book that you wish to offer!
          span(flex)
          md-button.md-icon-button(ng-click="cancel()") x
      md-dialog-content
        md-content#StockListContent()
          md-list#dialogBookList(flex)
            md-list-item.md-2-line(ng-animate='animate' ng-repeat='item in booksJson', layout="row", ng-click="answer($index)")
              img#bookCoverThumbnail.md-avatar(ng-src='{{item.volumeInfo.imageLinks.smallThumbnail}}')
              div.md-list-item-text(layout="column" alig)
                h3 {{item.volumeInfo.title}}
                h4 {{item.volumeInfo.authors[0]}}
              md-divider.md-inset(ng-if="!$last")
      md-dialog-actions(layout="row")
        span(flex)
        md-button(ng-click="cancel()") Cancel



