div#menuApps
  md-toolbar.md-menu-toolbar
    div(layout="row")
      md-toolbar-filler(layout layout-align="center center")
        span(ng-show='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/settings")}')
            a(href='/settings')
              span.glyphicon.glyphicon-cog
      div
        md-menu-bar
          md-button(href='/') My Camper Full Stack Projects
          md-menu
            md-button(ng-click="$mdOpenMenu()") Projects
            md-menu-content
              md-menu-item
                md-button(href='/vote') Votting
              md-menu-item
                md-button(href='/nl') Night Life
              md-menu-item
                md-button(href='/stockM') Stocks
              md-menu-item
                md-button(href='/books') Books
              md-menu-item
                md-button(href='/pint') Pinterest
          md-button(ng-hide='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/signup")}', href='/signup') Sign up
          md-button(ng-hide='$ctrl.isLoggedIn()', ng-class='{active: $ctrl.isActive("/login")}', href='/login')  Login
          md-button(ng-show='$ctrl.isLoggedIn()', href='/logout') Logout
          span(ng-show='$ctrl.isLoggedIn()') Hello {{ $ctrl.getCurrentUser().name }}




