header#banner.nl.hero-unit(layout="row", layout-xs="column")
  .container
    h1 About tonight ?
    span
      i.fa.fa-glass.fa-fw
      i.fa.fa-beer.fa-fw
      i.fa.fa-coffee.fa-fw
      i.fa.fa-taxi.fa-fw
div#nlBody(md-theme="default")
  #nlContainer.container
    div#nlBody(layout="row", layout-xs="column")
      div#userStory(flex="35", flex-xs="100")
        h3 User Story
        div#divider
          ul
            li As an unauthenticated user, I can view all bars in my area.

            li As an authenticated user, I can add myself to a bar to indicate I am going there tonight.

            li As an authenticated user, I can remove myself from a bar if I no longer want to go there.

            li User Story: As an unauthenticated user, when I login I should not have to search again.

      div#listVenues(flex="65" layout="column", flex-xs="100")
        form(layout layout-align="center", layout-padding)
          div(layout="row" flex)
            md-input-container.md-icon-float.md-block.md-title(flex)
              label.Search search for venues
              input(type="text", ng-model='$ctrl.searchTerms' , ng-keypress ='$ctrl.CaptEnter()')
            div
              md-button.md-raised.md-default.md-primary(ng-Click ='$ctrl.searchVenue()', aria-label='searchForm')
                 i.fa.fa-search.fa-fw
        div(ng-show= "searching", layout="row", layout-align="center center")   
          i.fa.fa-spinner.fa-spin.fa-5x
        md-content#listContent(ng-show= "$ctrl.AllVenues")
          md-list(flex)#businessesList
            md-list-item.md-3-line.md-long-text(ng-animate="'animate'" ng-repeat='item in $ctrl.AllVenues')
              div#image(layout="column")
                img#stars(ng-src = '{{item.rating_img_url}}')
                img(ng-src = '{{item.image_url}}')
              div#text(layout="column")
                h3#name {{item.name}}
                p {{item.snippet_text}}
              md-button.md-secondary(ng-Click='$ctrl.setUserGoing($index)') {{item.QuantUsersGoing}} going 
            md-divider.md-inset
