header#banner.nl.hero-unit(layout="row", layout-xs="column")
  .container
    h1 Stock Market Real Time Charts
    span
      i.fa.fa-money.fa-fw
div#nlBody(md-theme="default")
  #nlContainer.container
    div#nlBody(layout="row", layout-xs="column")
      div#userStory(flex="35", flex-xs="100")
        h3 User Story
        div#divider
          ul
            li I can view a graph displaying the recent trend lines for each added stock.

            li I can add new stocks by their symbol name.

            li I can remove stocks.

            li I can see changes in real-time when any other user adds or removes a stock. For this you will need to use Web Sockets.

      div#listVenues(flex="65" layout="column", flex-xs="100")

