header#banner.nl.hero-unit(layout="row", layout-xs="column")
  .container
    h1 Books Trading Club!
    span
      i.fa.fa-book.fa-fw
div#nlBody(md-theme="default")
  #nlContainer.container
    div#nlBody(layout="row", layout-xs="column")
      div#userStory(flex="25", flex-xs="100")
        h3 User Story
        div#divider
          ul
            li  I can view all books posted by every user.
            li  I can add a new book.
            li  I can update my settings to store my full name, city, and state.
            li  I can propose a trade and wait for the other user to accept the trade.

      div#listBooks(flex="75" layout="column", flex-xs="100")
        a(href='/shelf') shelf
