div#pollBody {
  h3 {
    padding-bottom: 10px;
  }
  .divider {
    border-right-width: 1px;
    border-right-color: #004eff;
    border-right-style: solid;
    padding-right: 10px;
    border-left-width: 1px;
    border-left-color: #004eff;
    border-left-style: solid;
    padding-left: 10px;
  }
  #pollControls {
    margin-top: 20px;
    overflow-y: scroll;
    height: 300px;
  }
  .trash {
    height: 2.4em;
  }

  }


